img {
  width: 100%;
  max-width: 350px; /* or 400px or whatever looks good */
  height: auto;
  display: block;
  margin: 0 auto; /* centers on screen */
}

body{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
    
}
h1 {
    text-align: center;
    font-style: italic;
    color: #f5f5f5DC;
}

h2 {
   font-style: italic;
    color: #f5f5f5DC;

