
body{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: burlywood;
    
}
h1 {
    text-align: center;
    font-style: italic;
    color: #f5f5f5DC;
}

h2 {
   font-style: italic;
    color: #f5f5f5DC;
